.TileGrid {
  --v-gap-size: 90;
  --v-gap-size-px: calc(var(--v-gap-size) * 1px);
  --h-gap-size: 22;
  --h-gap-size-px: calc(var(--h-gap-size) * 1px);

  width: calc(100% + var(--tile-width-px) + var(--h-gap-size-px));
  height: calc(100% + var(--tile-height-px) + var(--v-gap-size-px));
  --num-rows: calc((100% + var(--v-gap-size-px)) / (var(--tile-height) + var(--v-gap-size)));
  --num-cols: calc((100% + var(--h-gap-size-px)) / (var(--tile-width) + var(--h-gap-size)));
  transform: translate(calc(100% - ((var(--num-cols) - 1px) * var(--tile-width))), 0);
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--tile-width-px));
  grid-template-rows: repeat(auto-fit, var(--tile-height-px));
  gap: var(--v-gap-size-px) var(--h-gap-size-px);
}

.TileGrid-Tile {
  overflow: hidden;
  width: var(--tile-size-px);
  height: var(--tile-size-px);
  filter: grayscale(100%);
}

@media screen and (max-width: 980px) {
  .TileGrid {
    --v-gap-size: 12;
    --h-gap-size: 22;
  }
}
