.Button {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: inherit;
  border: inherit;
  background-color: inherit;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.Button:hover {
  color: var(--color-btn-hover);
}

.Button_theme_link {
  outline: none;
}

.Button_theme_button {
  background-color: var(--color-btn-hover);
  font: var(--font-primary);
  font-weight: bold;
  padding: 18px 40px;
  border-radius: 63px;
  display: flex;
  justify-content: center;
}

.Button.Button_theme_button:hover {
  color: var(--color-white);
}

.Button > a {
  text-decoration: none;
  color: inherit;
}
