.MainPage {
  width: 100%;
  height: 100%;
  position: relative;

  --bg-image-height: 640px;
}

.MainPage-Image {
  position: absolute;
  z-index: 1;
  width: 100%;

  box-sizing: border-box;
  background-image: url('../../../assets/images/rendered-interior-large.jpg');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: bottom -30px right 20%;
  height: var(--bg-image-height);

  overflow: hidden;
}

.MainPage-Logo {
  position: absolute;
  right: 0;
  width: 340px;
  height: 306px;
  top: 64px;
}

.MainPage-Inner {
  position: relative;
  max-width: var(--width-1024);
  margin: 0 auto;
  border-bottom: 1px solid transparent;
}

.shiftDown {
  padding-top: 548px;
}

.MainPage-TextContent {
  column-count: 2;
  column-gap: 108px;

  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;

  word-wrap: break-word;
  /*hyphens: auto;*/
}

.MainPage-TextContent_color_white {
  color: var(--color-white);
}

.MainPage-TextContent_color_black {
  color: var(--color-black);
}

.MainPage-Wrapper {
  min-height: var(--bg-image-height);
  width: 100%;
}

.MainPage-Section {
  margin-bottom: 40px;
}

.MainPage-ServicesButton.Button {
  margin: 0 auto;
  min-width: 256px;
}
