.MainPage {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: var(--tile-size-px);
}

.MainPage-LogoWrapper {
  box-sizing: border-box;
  width: calc(var(--tile-size-px) + 2px);
  height: calc(var(--tile-size-px) + 2px);
  padding: 15px;
  background-color: var(--main-bg-col);
}

.MainPage-Logo {
  width: 100%;
  height: 100%;
}

.MainPage-Inner {
  top: 0;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  /* Вот откуда эта белая полоса сверху! */
  box-shadow: inset 0 20px var(--main-bg-col);
}

@media screen and (max-width: 980px) {
  .MainPage-Inner {
    box-shadow: none;
  }
}
