.Header {
  position: relative;
  background-color: var(--main-bg-col);
  box-sizing: border-box;
  align-items: flex-end;
}

.Header_type_desktop {
  display: flex;
  flex-wrap: nowrap;
  height: 110px;
  padding-bottom: 20px;
}

.Header_type_mobile {
  display: none;
  position: relative;
}

.Header_type_desktop .Header-Title {
  margin-right: 20px;
}

.App-Shrink.Header_type_mobile {
  margin: 0 15px 0 15px;
}

.Header_type_mobile .Header-Main {
  display: flex;
  align-items: center;
  height: 62px;
}
.Header_type_mobile .Header-Title {
  margin-right: 0;
  transform: translate(0, -2px);
}
.Header-BurgerMenu {
  margin-right: auto;
}

@media screen and (max-width: 980px) {
  .Header_type_desktop {
    display: none;
  }
  .Header_type_mobile {
    display: block;
  }
  .Header-Title {
    margin-right: 0;
  }
  .Header-MobileNavBar {
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: var(--main-bg-col);
    box-shadow: -20px 0 0 2px var(--main-bg-col), 20px 0 0 2px var(--main-bg-col);
  }
}
