.NavBar {
  font: var(--font-secondary);
  font-weight: bold;
  flex: 2 1 auto;
  flex-wrap: nowrap;
}

.NavBar-List {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.NavBar-Link {
  --header-btn-height: 26px;
  height: var(--header-btn-height);
  line-height: var(--header-btn-height);

  /* todo @dimazoll - стоит ли центрировать текст внутри кнопок в хэдере? */
  /*text-align: center;*/
  min-width: 80px;

  margin-right: 48px;
  white-space: nowrap;
  word-break: keep-all;
}

@media screen and (max-width: 980px) {
  .NavBar {
    font: var(--font-secondary-mobile);
    font-weight: bold;
  }

  .NavBar-List {
    justify-content: space-between;
    max-width: 600px;
  }

  .NavBar-Link {
    --header-btn-height: 20px;
    min-width: unset;
    margin-right: 16px;
  }
  .NavBar-Link:last-child {
    margin-right: 0;
  }
}
