.BurgerMenu {
  --width: 27px;
  --height: 21px;
  --l-height: 5px;
  --transition-time: 0.4s;

  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width);
  height: var(--height);
  border-top: var(--l-height) solid var(--color-black);
  border-bottom: var(--l-height) solid var(--color-black);
}

.BurgerMenu::after,
.BurgerMenu::before {
  content: '';
  position: relative;
  background-color: var(--color-black);
  width: calc(var(--width) / 2);
  height: var(--l-height);
  transition: all var(--transition-time) ease;
}

.BurgerMenu_active::after,
.BurgerMenu_active::before {
  width: var(--l-height);
  height: calc(var(--height));
}
