.Footer {
  background-color: var(--color-black);
  color: var(--color-white);
  height: 50px;
  display: flex;
}

.Footer-Center {
  padding: 0;
  flex: 1 0 auto;
  margin: auto;
}

.Footer-Side {
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer-Contacts {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer-ScrollTopButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.Footer-ScrollTopButton.Button {
  box-sizing: border-box;
  margin-right: 12px;
  transform: translateX(var(--indent-background));
}

@media screen and (max-width: 830px) {
  .Footer-Copyright {
    display: none;
  }
  .Footer-ScrollTop {
    margin-right: 0;
  }
  .Footer-Side {
    flex: 0 0 auto;
    width: 0;
  }
  .Footer-ScrollTopButton.Button {
    transform: translateX(calc(var(--indent-background) - 15px));
  }
}
