.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App-Header,
.App-Footer {
  flex: 0 0 auto;
}

.App-Footer {
  background-color: var(--color-black);
}

.App-Main {
  position: relative;
  flex: 1 1 auto;
}

.App-Inner {
  max-width: var(--width-1280);
  margin: 0 auto;
}

.App-Shrink {
  margin: 0;
}

@media screen and (max-width: calc(1280px + 92px * 2)) {
  .App-Shrink {
    margin: 0 var(--indent-background);
  }
  .App-Inner {
    max-width: unset;
  }
}
