:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-sea-water: #81cdd1;
  --color-btn-hover: var(--color-sea-water);
  --color-btn-active: var(--color-sea-water);

  --main-bg-col: var(--color-white);
  --secondary-bg-col: var(--color-black);

  --width-320: 320px;
  --width-480: 480px;
  --width-768: 768px;
  --width-1024: 1024px;
  --width-1280: 1280px;
  --width-1440: 1440px;
  --width-1600: 1600px;
  --width-1920: 1920px;
  --header-mobile-width: 980px;

  --indent-background: 92px;

  /* fonts */
  --font-size-primary: 20px;
  --font-size-primary-mobile: 18px;
  --font-size-small: 14px;
  --font-size-small-mobile: 12px;
  --font-size-logo: 33px;
  --font-size-secondary: 17px;
  --font-size-secondary-mobile: 15px;

  --font-line-height-default: 1.15;

  --font-primary: normal var(--font-size-primary) / var(--font-line-height-default) Roboto, Arial, sans-serif;
  --font-secondary: normal var(--font-size-secondary) / var(--font-line-height-default) Roboto, Arial, sans-serif;
  --font-primary-mobile: normal var(--font-size-primary-mobile) / var(--font-line-height-default) Roboto, Arial,
    sans-serif;
  --font-secondary-mobile: normal var(--font-size-secondary-mobile) / var(--font-line-height-default) Roboto, Arial,
    sans-serif;

  /* tiles */
  --tile-size: 350;
  --tile-size-px: calc(var(--tile-size) * 1px);

  --tile-height: var(--tile-size);
  --tile-height-px: var(--tile-size-px);
  --tile-width: var(--tile-size);
  --tile-width-px: var(--tile-size-px);
}

@media screen and (max-width: 1599px) {
  :root {
    --tile-size: 300;
  }
}

@media screen and (max-width: 1279px) {
  :root {
    --tile-size: 270;
  }
}

@media screen and (max-width: 980px) {
  :root {
    --tile-size: 216;
  }
}

/* Here is example how fonts should be imported */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Roboto-Regular.woff2'), url('../assets/fonts/Roboto-Regular.woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Roboto-Bold.woff2'), url('../assets/fonts/Roboto-Bold.woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/Roboto-Thin.woff2'), url('../assets/fonts/Roboto-Thin.woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

html,
body {
  width: 100%;
}
